body {
    font-family: Arial, sans-serif;
    background-color: #8ca0b4; /* Color de fondo */
    margin: 0;
    padding: 0;
  }

  form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* Color de fondo del formulario */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #333333; /* Color del texto */
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc; /* Color del borde */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  button[type="submit"] {
    background-color: #738fad; /* Color del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }

  button[type="submit"]:hover {
    background-color: #59718a; /* Color de fondo del botón al pasar el mouse */
  }



  /* para el menu*/